<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">
    <p>Hi,</p>

    <p>${totStream} Data stream received by you are in invalid/warning status. Following list represents the top ${maxStream}.</p>

    <table border='1'>
        <tr>
            <td><b>Received Time</b></td>
            <td><b>Schema</b></td>
            <td><b>Status</b></td>
            <td><b>Message</b></td>
        </tr>
        #foreach( $dataStream in $dataStreams )
            #set( $url = "$serverUrl$dataStream.idDatastream")
            <tr>
                <td>$dataStream.ReceivedDate $dataStream.ReceivedTime</td>
                <td><a href=$url> $dataStream.schemaName</a></td>
                <td>
                    #if($dataStream.checked==0) Invalid #else Warn	#end
                </td>
                <td>$dataStream.message</td>
            </tr>
        #end
    </table>

    <p> Thanks,</p>
    <p> Customer Support </p>
</div>