<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">

	<p>Qauesto messaggio è stato spedito per testare la configurazione della email</p>
	
	<p> Grazie,</p>
	<p> Customer Support </p>	
</div>
