<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">

	<p>This message has been sent to check email configuration setup</p>
	
	<p> Thanks,</p>
	<p> Customer Support </p>	
</div>
