<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">
	<p>Liebe ${name},</p>

	<p>Ihr Passwort wurde geändert: ${tempPassword}</p>
	
	<p> Dank,</p>
	<p> Customer Support </p>	
</div>
