<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">
	<p>Дорогой ${name},</p>

	<p>Ваш пароль был изменен на: ${tempPassword}</p>
	
	<p>спасибо,</p>
	<p>Поддержка </p>
</div>
