<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">
	<p>Dear ${name},</p>

	<p>Your password has been changed to: ${tempPassword}</p>
	
	<p> Thanks,</p>
	<p> Customer Support </p>	
</div>
