<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">
	<p>Liebe ${name} ${surname} ,</p>

	<pWillkommen bei DataCruncher</p>
	<p>Ihr Benutzername:${userName}</p>
	
	<p> Dank,</p>
	<p> Customer Support </p>	
</div>
