<div style="font-family:'Arial';font-size:16px;color:#333;margin-left:20px;">
	<p>Gentile ${name} ${surname} ,</p>

	<p>Benvenuti in DataCruncher</p>
	<p>Il suo nome utente è :${userName}</p>
	
	<p>Grazie,</p>
	<p>Assistenza Clienti </p>	
</div>
